
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');


/*Base element style*/
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #fcfdfe;
    color: #3a3a3a;
    font-family: 'Varela Round', sans-serif;

}
p{
    line-height: 24px;

}



a{
    text-decoration: none;
}


/*Base element style*/



/*navigation*/

.wrap{
    text-align: center;
}
.main-header {
    padding-top: 0;
    margin: 0 15px;
    font-weight: bold;
}
.main-header h1 {
    margin: 0;
    padding: 15px 0;
    font-size: 1.6em;
}


.main-nav a {
    font-size: .95em;
    color: #3acec2;
    text-transform: uppercase;
}
.main-nav li {
    list-style-type: none;
    margin: 0 15px 5px 15px;
    padding: 15px 0;
}
.img-std
{
    width: 60%;
}
.main-nav ul {
    padding: 0;
}
.banner p {
    margin: 25px;
    line-height: 1.5;
}
.main-nav a:hover {
    color: #093a58;
}


.banner {
    color: #000;
    margin: 60px 15px;
}
.main {
    display: block;
    background-color: #FFF;
    padding-bottom: 30px;
    font-family: 'Varela Round', sans-serif;
}
.main h2{
     padding: 50px 0;
    font-size: 18px;
    text-transform: uppercase;
}
.main h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

}
.my-name{
    float: left;
    font-size: 1.25em;


}
.name:hover,
.my-name:hover{
    transform: scale(1.2);
}



.portfolio p {
    color: #7f7f7f;
    width: 80%;
    margin: 5px auto 30px auto;
    font-family: sans-serif;
}

.portfolio img {
    display: block;
    width: 85%;
    margin: 0 auto;
}
.hobbies{
    margin: 20px;
    background-color: lemonchiffon;
}

.hobbies-under li{
    list-style-type: none;
    margin-bottom: 10px;
    margin-right: 30px;
}
.hobbies-under{
    margin-left: 0;
    margin-top: 20px;
    text-transform: uppercase;
}

.main-footer {
    background: #d9e4ea;
    text-align: center;
    padding: 50px 100px;
    margin-top: 30px;
}
.main-footer h2 {
    font-size: 1.1em;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.footer-menu
{
    font-weight: bold;
    margin: 0 20px;
    padding-top: 20px;
    padding-bottom: 70px;
    border-top: 1px solid tomato;
}
.footer-nav
{
    display: none;
}
.back{
    float: right;
}

/*navigation*/

/*media queries*/
@media (min-width: 768px) {

.main-nav li{
    display: inline;
}
.banner p{
    float: left;
    text-align: left;
    width: 50%;
    margin: 0;
    padding: 0 5px;
}
.img-std{
    float: right;
    width: 50%;
    margin: 0;
    padding: 0 5px;
}
.hobbies-under li{
    display: inline-block;
    margin-right: 30px;
}
.portfolio
{
    width: 50%;
    float: left;
}
.back{
    display: none;
}
  .main-footer {
        padding: 50px 150px;
    }
    .footer-nav {
        display: block;
        float: right;
        padding-bottom: 50px;
    }
    .p2{
        display: none;
    }



    /* ---- Float clearfix ---- */
    .clearfix::after {
        content: " ";
        display: table;
        clear: both;
    }

}
@media (min-width: 1024px) {

    .banner {
        margin: 60px 0;
    }
    .secondary {
        display: block;
        margin: 25px 50px 0 50px;
    }


    .main-header h1{
        float: left;
    }

    .main-nav {
        float: right;
    }


    .banner p {
        padding: 0 50px 0 0;
    }

    .portfolio {
        width: 33%;
        float: left;
        margin: 0;
    }

    .portfolio p {
        padding: 0;
        height: 50%;
        margin: 5px auto 30px;
    }

    .main-footer {
        padding: 50px 300px;

    }
.name{
    float: right;
}

}


/*media queries*/